:root {
  --content-width: 750px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #202228;
  /* background: rgb(32,34,40);
  background: linear-gradient(90deg, rgba(32,34,40,1) 0%, rgba(91,94,142,1) 50%, rgba(32,34,40,1) 100%); */
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  line-height: 1.4;
  margin: 0;
}
@media (max-width: 768px) {
  body {
    font-size: 1.1rem;
  }
}

h1,
h2 {
  border-bottom: 3px solid white;
}

h1 {
  font-size: 1.5em;
  line-height: 1.1;
  padding-bottom: 0.2em;
}

h2 {
  font-size: 2em;
}

a {
  color: white;
}
a:hover {
  color: rgba(119, 255, 248, 0.7882352941);
  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
}
a:hover path {
  fill: rgba(119, 255, 248, 0.7882352941);
}

img {
  width: 100%;
  height: auto;
}

header {
  background-image: url("../img/Sunset.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/Sunset.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
}
header a:hover {
  color: rgba(255, 203, 148, 0.7882352941);
}
header a:hover path {
  fill: rgba(255, 203, 148, 0.7882352941);
}
header nav {
  max-width: var(--content-width);
  margin: auto;
  padding: 0 5%;
  padding-top: 1em !important;
  display: flex;
  justify-content: space-between;
}
header nav a {
  text-decoration: none;
}
header #header-text {
  max-width: var(--content-width);
  margin: auto;
  padding: 0 5%;
  position: absolute;
  top: 24vh;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 2.5em;
  flex-grow: 1;
}
header #header-text h1 {
  margin: 0;
}
header #header-text p {
  font-size: 0.5em;
}
header #icons {
  max-width: var(--content-width);
  margin: auto;
  padding: 0 5%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
header #icons a {
  margin: 20px;
}
header #icons svg {
  width: 50px;
}
header #down-arrow {
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 40px;
}
header #down-arrow svg {
  width: 40px;
  height: auto;
}

#content {
  max-width: var(--content-width);
  margin: auto;
  padding: 0 5%;
}
#content section {
  margin: 1em 0;
  padding: 10px;
}
#content .flex-row {
  display: flex;
}
#content #about #about-content {
  align-items: flex-start;
}
@media (max-width: 500px) {
  #content #about #about-content {
    flex-direction: column;
  }
}
#content #about figure {
  margin-left: 0;
  flex: 0 0 30%;
}
#content #about figure img {
  border-radius: 40px;
}
#content #skills .flex-row > div {
  flex: 1 0 50%;
}
#content #skills .language-icon {
  width: 50px;
  height: auto;
}
#content #skills ul {
  padding-left: 1em;
}
#content #skills li {
  margin: 10px;
}
#content #skills li:before {
  content: "";
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  position: relative;
  display: inline-block;
  background-size: contain;
  margin-bottom: -6px;
  margin-right: 6px;
}
#content #skills li.python:before {
  background-image: url("../img/Python.svg");
}
#content #skills li.c:before {
  background-image: url("../img/C.svg");
}
#content #skills li.cpp:before {
  background-image: url("../img/C++.svg");
}
#content #skills li.html:before {
  background-image: url("../img/HTML.svg");
}
#content #skills li.css:before {
  background-image: url("../img/CSS.svg");
}
#content #skills .tools li:before {
  display: none;
}
#content #experience h3 a {
  text-decoration: none;
}
#content #experience h3 img {
  width: 40px;
  margin-bottom: 10px;
  margin-left: 10px;
}
#content #education #UCSC {
  display: flex;
}
#content #education #UCSC p {
  flex-grow: 1;
}
#content #education #UCSC img {
  margin-left: 50px;
  width: 175px;
}
#content #education #Lowell {
  display: flex;
}
#content #education #Lowell p {
  flex-grow: 1;
}
#content #education #Lowell img {
  margin-left: 50px;
  width: 170px;
  border-radius: 90px;
}
#content #projects h3 {
  margin-top: 1.5em;
  margin-bottom: 0;
}
#content #projects h3 + p {
  margin-top: 0.3em;
}
#content #projects a {
  text-decoration: none;
}

footer {
  max-width: var(--content-width);
  margin: auto;
  padding: 0 5%;
  text-align: center;
  margin-bottom: 1em;
}
footer #resume {
  text-decoration: none;
  background-color: #878da3;
  padding: 10px;
  border-radius: 8px;
}
footer #icons {
  max-width: var(--content-width);
  margin: auto;
  padding: 0 5%;
  margin: 0.75em;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer #icons a {
  margin: 20px;
}
footer #icons svg {
  width: 40px;
}
footer #cp {
  align-content: center;
  font-size: 16px;
}/*# sourceMappingURL=styles.css.map */