:root {
    --content-width: 750px;
    --highlight-color: #b6e79f;
}

@mixin content {
    max-width: var(--content-width);
    margin: auto;
    padding: 0 5%;

    @media (max-width: 768px) {
        //  padding: 0 m;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(180deg, #000801 50%, #264423);
    // background-color: #131d15;
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 1.3rem;
    line-height: 1.4;
    margin: 0;

    @media (max-width: 768px) {
        font-size: 1.1rem;
    }
}

h1,
h2 {
    border-bottom: 3px solid white;
}


h1 {
    font-size: 1.5em;
    line-height: 1.1;
    padding-bottom: 0.2em;
}

h2 {
    font-size: 2em;
}

a {
    color: white;
    &:hover {
        color: var(--highlight-color);
        path {
            fill: var(--highlight-color);
        }
        transition: 300ms ease-in-out;
    }
}

.external-link {
    svg {
        margin-bottom: 9px;
    }
    &:hover {
        path {
            stroke: var(--highlight-color);
            fill: none;
        }
        transition: 300ms ease-in-out;
    }
}

.title-link {
    text-decoration: none;
    svg {
        margin-bottom: 5px;
    }
    &:hover {
        path {
            stroke: var(--highlight-color);
            fill: none;
        }
    }
}

img {
    width: 100%;
    height: auto;
}

// Hero
header {
    background-image: url("../img/MinimalistDesk.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("../img/MinimalistDesk.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;

    #navbar-container {
        display: flex;
        justify-content: center;
        
        #navbar {
            @include content;
            font-family: 'Raleway', sans-serif;
            z-index: 1;
            padding: 15px !important;
            display: flex;
            justify-content: space-around;
            overflow: hidden;
            background-color: #223325;
            border-radius: 0px 0px 16px 16px;
            text-align: center;
            width: 100%;
            position: fixed;
            top: 0;
            filter: drop-shadow(0px 2px 3px #000000);

            a {
                text-decoration: none;
            }

            a.active {
                text-decoration: underline;
            }
        }
    }
    
    #header-text {
        @include content;
        position: absolute;
        top: 32vh;
        left: 0;
        right: 0;
        text-align: left;
        font-size: 2.5em;
        flex-grow: 1;

        h1 {
            margin: 0;
        }
        p {
            font-size: 0.5em;
        }
    }

    #icons {
        @include content;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        a {
            margin: 20px;
        }

        svg {
            width: 50px;
        }
    }

    #down-arrow {
        position: absolute;
        bottom: 80px;
        left: 0;
        right: 0;
        margin: auto;
        width: 40px;

        svg {
            width: 40px;
            height: auto;
        }
    }
}

#content {
    @include content;

    section {
        margin: 1em 0;
        padding: 10px;
    }

    .flex-row {
        display: flex;
    }

    #about {
        #about-content {
            align-items: flex-start;

            @media (max-width: 500px) {
                flex-direction: column;
            }
        }
        p {
            font-size: 0.9em;
        }
        figure {
            margin-left: 0;
            flex: 0 0 30%;
            img {
                border-radius: 40px;
            }
        }
    }  

    #skills {
        .flex-row > div {
            flex: 1 0 50%;
        }

        ul {
            padding-left: 1em;
        }

        li {
            padding: 10px 10px 10px 50px;
            position: relative;

            &:before {
                content: "";
                background-repeat: no-repeat;
                width: 40px;
                height: 40px;
                top: 2px;
                left: 0;
                bottom: 0;
                right: 0;
                background-position: center;
                background-size: contain;
                position: absolute;
                display: inline-block;
                transform: translateY(2px);
            }
    
            &.python:before {
                background-image: url("../img/skillsIcons/python.svg");
            }
            &.c:before {
                background-image: url("../img/skillsIcons/c.svg");
            }
            &.cpp:before {
                background-image: url("../img/skillsIcons/cpp.svg");
            }
            &.html:before {
                background-image: url("../img/skillsIcons/html5.svg");
            }
            &.css:before {
                background-image: url("../img/skillsIcons/css3.svg");
            }
            &.sass:before {
                background-image: url("../img/skillsIcons/sass.svg");
            }
            &.js:before {
                background-image: url("../img/skillsIcons/javascript.svg");
                border-radius: 3px;
            }
            &.ts:before {
                background-image: url("../img/skillsIcons/typescript.svg");
                border-radius: 3px;
            }
            &.php:before {
                background-image: url("../img/skillsIcons/php.svg");
                border-radius: 3px;
            }
            &.wordpress:before {
                background-image: url("../img/skillsIcons/wordpress.svg");
                border-radius: 3px;
            }
            &.angular:before {
                background-image: url("../img/skillsIcons/angular.svg");
            }
            &.firebase:before {
                background-image: url("../img/skillsIcons/firebase.svg");
            }
            &.git:before {
                background-image: url("../img/skillsIcons/git.svg");
            }
            &.vscode:before {
                background-image: url("../img/skillsIcons/vscode.svg");
            }
            &.figma:before {
                background-image: url("../img/skillsIcons/figma.svg");
            }
        }

        .language-icon {
            width: 50px;
            height: auto;
        }
        
    }

    #experience {

        h3 {
            font-size: 1.4em;
            img {
                width: 40px;
                margin-bottom: 10px;
                margin-left: 5px;
                margin-right: 5px;
            }
        }
        .tools-list {
            li {
                line-height: 40px;
            }
        }
    }

    #education {
        #UCSC {
            display: flex;
            p {
                flex-grow: 1;
            }
            img {
                margin-left: 50px;
                width: 175px;
            }
        }

        #Lowell {
            display: flex;
            p {
                flex-grow: 1;
            }
            img {
                margin-left: 50px;
                width: 170px;
                border-radius: 90px;
            }
        }
    }

    #projects {
        .proj-container {
            display: flex;
            flex-direction: column;
            gap: 2em;
        }
        
        .project-card {
            font-family: 'Roboto Condensed', sans-serif;
            border-radius: 20px;
            padding: 2em;
            border: solid white;
            a {
                text-decoration: none;
            }
        }

        .learn-more {
            border-color: white;
            background-color: transparent;
            color: white;
            border-style: solid;
            padding: 10px;
            border-radius: 8px;
            width: fit-content;
            font-weight: 700;
            cursor: pointer;
            &:hover {
                color: var(--highlight-color);
                border-color: var(--highlight-color);
                transition: 300ms ease-in-out;
            }        
        }

        .close-container {
            display: flex;
            justify-content: center;
            .close {
                border-radius: 100px;
                border: none;
                background-color: transparent;
                cursor: pointer;
                div {
                    svg {
                        width: 40px;
                        height: 40px;
                        fill: white;
                    }
                }
            }
        }

        .project-card.active {
            background-color: lightgray;
        }

        #rsaInfo {
            display: none;
        }

        #huffmanInfo {
            display: none;
        }

        #httpServerInfo {
            display: none;
        }

        #mazeInfo {
            display: none;
        }

        #amusiaInfo {
            display: none;
        }

        #overcomeInfo {
            display: none;
        }

        #redCliffsInfo {
            display: none;
        }

        h3 {
            margin: 0;
            font-size: 1.4em;
        }

        p {
            margin-top: 1em;
        }

        .github-button {
            div {
                display: flex;
                flex-direction: row;
                column-gap: 8px;
                align-items: center;
            }
            margin-top: 1em;
            display: flex;
            justify-content: center;
            text-decoration: none;
            background-color: white;
            color: purple;
            width: 150px;
            height: 35px;
            border-radius: 8px;
            padding: 8px;

            svg {
                width: 30px;
                height: auto;
            }

            path {
                fill: purple;
            }

            &:hover {
                transform: none;
                background-color: purple;
                transition: 100ms ease-in-out;
                color: white;
                path {
                    fill: white;
                }
            }
        }

        .itch-button {
            div {
                display: flex;
                flex-direction: row;
                column-gap: 8px;
                align-items: center;
            }

            margin-top: 1em;
            display: flex;
            justify-content: center;
            text-decoration: none;
            background-color: white;
            color: #0c3522;
            width: 150px;
            height: 35px;
            border-radius: 8px;
            padding: 8px;
            border: solid white;

            svg {
                width: 30px;
                height: auto;
            }

            path {
                fill: #202228;
            }

            &:hover {
                transform: none;
                background-color: transparent;
                color: white;
                transition: 300ms ease-in-out;
                path {
                    fill: white;
                }
            }
        }

        figure {
            // background-color: #424449;
            border-radius: 10px;
            // padding: 0.5em 1em 0.5em 1em;
            margin-left: 0;
            margin-right: 0;
            img {
                margin-top: 1em;
            }
            figcaption {
                // background-color: #202228;
                border-radius: 10px;
                margin-top: 1em;
                margin-bottom: 1em;
                padding: 1em;
                text-align: center;
                font-size: medium;
            }
        }

        #rsa-cryptosystem {
            .screenshot {
                border-radius: 5px;
            }
        }

        #data-compressor {
            a {
                text-decoration: none;
            }
            .screenshot {
                border-radius: 5px;
            }
        }

        #amusia {
            li {
                margin: 1em;
                &:before {
                    display: none;
                }
            }
            figure {
                .screenshot {
                    border-radius: 8px;
                }
            }
        }

        #overcome {
            li {
                margin: 1em;
                &:before {
                    display: none;
                }
            }
            figure {
                .screenshot {
                    border-radius: 8px;
                }
            }
        }

        #redCliffs {
            li {
                margin: 1em;
                &:before {
                    display: none;
                }
            }
            figure {
                .screenshot {
                    border-radius: 8px;
                }
            }
        }
    }
}

footer {
    @include content;
    text-align: center;
    margin-bottom: 1em;

    .resume-button {
        text-decoration: none;
        color: whitesmoke;
        background-color: transparent;
        padding: 10px;
        border: 3px solid whitesmoke;
        border-radius: 10px;
        font-weight: 700;
        &:hover {
            color: var(--highlight-color);
            border-color: var(--highlight-color);
            transition: 300ms ease-in-out;
        }
    }

    #icons {
        @include content;
        margin: 0.75em;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        a {
            margin: 1em;
        }

        svg {
            width: 40px;
        }     
    }

    #cp {
        align-content: center;
        margin: 1em;
        font-size: 16px;
    }

}
