:root {
  --content-width: 750px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #202228;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  line-height: 1.4;
  margin: 0;
}
@media (max-width: 768px) {
  body {
    font-size: 1.1rem;
  }
}

h1,
h2 {
  border-bottom: 3px solid white;
}

h1 {
  font-size: 1.5em;
  line-height: 1.1;
  padding-bottom: 0.2em;
}

h2 {
  font-size: 2em;
}

a {
  color: white;
}
a:hover {
  color: rgba(119, 255, 248, 0.7882352941);
  transform: scale(1.05);
  transition: transform 200ms ease-in-out;
}
a:hover path {
  fill: rgba(119, 255, 248, 0.7882352941);
}

.external-link svg {
  margin-bottom: 9px;
}
.external-link:hover path {
  stroke: rgba(119, 255, 248, 0.7882352941);
  fill: none;
}

.title-link {
  text-decoration: none;
}
.title-link svg {
  margin-bottom: 5px;
}
.title-link:hover path {
  stroke: rgba(119, 255, 248, 0.7882352941);
  fill: none;
}

img {
  width: 100%;
  height: auto;
}

header {
  background-image: url("../img/Sunset.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/Sunset.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
}
header #navbar-container {
  display: flex;
  justify-content: center;
}
header #navbar-container #navbar {
  max-width: var(--content-width);
  margin: auto;
  padding: 0 5%;
  font-family: "Roboto Condensed", sans-serif;
  z-index: 1;
  padding: 10px !important;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: rgba(20, 22, 28, 0);
  padding: 10px;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
}
header #navbar-container #navbar a {
  text-decoration: none;
}
header #navbar-container #navbar a.active {
  text-decoration: underline;
}
header #header-text {
  max-width: var(--content-width);
  margin: auto;
  padding: 0 5%;
  position: absolute;
  top: 24vh;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 2.5em;
  flex-grow: 1;
}
header #header-text h1 {
  margin: 0;
}
header #header-text p {
  font-size: 0.5em;
}
header #icons {
  max-width: var(--content-width);
  margin: auto;
  padding: 0 5%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
header #icons a {
  margin: 20px;
}
header #icons svg {
  width: 50px;
}
header #down-arrow {
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  margin: auto;
  width: 40px;
}
header #down-arrow svg {
  width: 40px;
  height: auto;
}

#content {
  max-width: var(--content-width);
  margin: auto;
  padding: 0 5%;
}
#content section {
  margin: 1em 0;
  padding: 10px;
}
#content .flex-row {
  display: flex;
}
#content #about #about-content {
  align-items: flex-start;
}
@media (max-width: 500px) {
  #content #about #about-content {
    flex-direction: column;
  }
}
#content #about p {
  font-size: 0.9em;
}
#content #about figure {
  margin-left: 0;
  flex: 0 0 30%;
}
#content #about figure img {
  border-radius: 40px;
}
#content li {
  margin: 10px;
}
#content li:before {
  content: "";
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  position: relative;
  display: inline-block;
  background-size: contain;
  margin-top: 5px;
  margin-bottom: -13px;
  margin-right: 6px;
}
#content li.python:before {
  background-image: url("../img/python.svg");
}
#content li.c:before {
  background-image: url("../img/c.svg");
}
#content li.cpp:before {
  background-image: url("../img/cpp.svg");
}
#content li.html:before {
  background-image: url("../img/html5.svg");
}
#content li.css:before {
  background-image: url("../img/css3.svg");
}
#content li.sass:before {
  background-image: url("../img/sass.svg");
}
#content li.js:before {
  background-image: url("../img/javascript.svg");
  border-radius: 3px;
}
#content li.ts:before {
  background-image: url("../img/typescript.svg");
  border-radius: 3px;
}
#content li.angular:before {
  background-image: url("../img/angular.svg");
  margin-right: 10px;
}
#content li.firebase:before {
  background-image: url("../img/firebase.svg");
  margin-left: 4px;
  margin-right: 7px;
}
#content li.git:before {
  background-image: url("../img/git.svg");
  margin-right: 11px;
}
#content li.vscode:before {
  background-image: url("../img/vscode.svg");
  margin-right: 12px;
}
#content li.figma:before {
  background-image: url("../img/figma.svg");
  margin-left: 6px;
  margin-right: 6px;
}
#content #skills .flex-row > div {
  flex: 1 0 50%;
}
#content #skills .language-icon {
  width: 50px;
  height: auto;
}
#content #skills ul {
  padding-left: 1em;
}
#content #experience h3 {
  font-size: 1.4em;
}
#content #experience h3 img {
  width: 40px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
#content #experience .tools-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#content #experience .tools-list div {
  background-color: #424449;
  border-radius: 8px;
  margin-right: 8px;
  font-size: 18px;
  width: 180px;
  height: 40px;
  line-height: 40px;
  padding: 5px;
  text-align: center;
}
#content #education #UCSC {
  display: flex;
}
#content #education #UCSC p {
  flex-grow: 1;
}
#content #education #UCSC img {
  margin-left: 50px;
  width: 175px;
}
#content #education #Lowell {
  display: flex;
}
#content #education #Lowell p {
  flex-grow: 1;
}
#content #education #Lowell img {
  margin-left: 50px;
  width: 170px;
  border-radius: 90px;
}
#content #projects .proj-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
#content #projects .project-card {
  font-family: "Roboto Condensed", sans-serif;
  border-radius: 20px;
  padding: 2em;
  border: solid white;
}
#content #projects .project-card a {
  text-decoration: none;
}
#content #projects .learn-more {
  color: white;
  background-color: #202228;
  border-color: white;
  border-style: solid;
  padding: 10px;
  border-radius: 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
  cursor: pointer;
}
#content #projects .learn-more:hover {
  color: white;
  background-color: #424449;
  transition: 300ms ease-in-out;
}
#content #projects .close-container {
  display: flex;
  justify-content: center;
}
#content #projects .close-container .close {
  border-radius: 100px;
  border: none;
  background-color: #202228;
  cursor: pointer;
}
#content #projects .close-container .close div svg {
  width: 40px;
  height: 40px;
  fill: white;
}
#content #projects .project-card.active {
  background-color: lightgray;
}
#content #projects #rsaInfo {
  display: none;
}
#content #projects #huffmanInfo {
  display: none;
}
#content #projects #mazeInfo {
  display: none;
}
#content #projects #overcomeInfo {
  display: none;
}
#content #projects #redCliffsInfo {
  display: none;
}
#content #projects h3 {
  margin: 0;
  font-size: 1.4em;
}
#content #projects p {
  margin-top: 1em;
}
#content #projects .github-button {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: white;
  color: purple;
  width: 150px;
  height: 35px;
  border-radius: 8px;
  padding: 8px;
}
#content #projects .github-button div {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 8px;
       column-gap: 8px;
  align-items: center;
}
#content #projects .github-button svg {
  width: 30px;
  height: auto;
}
#content #projects .github-button path {
  fill: purple;
}
#content #projects .github-button:hover {
  transform: none;
  background-color: purple;
  transition: 100ms ease-in-out;
  color: white;
}
#content #projects .github-button:hover path {
  fill: white;
}
#content #projects .itch-button {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: white;
  color: #202228;
  width: 150px;
  height: 35px;
  border-radius: 8px;
  padding: 8px;
  border: solid white;
}
#content #projects .itch-button div {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 8px;
       column-gap: 8px;
  align-items: center;
}
#content #projects .itch-button svg {
  width: 30px;
  height: auto;
}
#content #projects .itch-button path {
  fill: #202228;
}
#content #projects .itch-button:hover {
  transform: none;
  background-color: #202228;
  color: white;
  transition: 100ms ease-in-out;
}
#content #projects .itch-button:hover path {
  fill: white;
}
#content #projects figure {
  background-color: #424449;
  border-radius: 10px;
  padding: 0.5em 1em 0.5em 1em;
  margin-left: 0;
  margin-right: 0;
}
#content #projects figure img {
  margin-top: 1em;
}
#content #projects figure figcaption {
  background-color: #202228;
  border-radius: 10px;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  text-align: center;
  font-size: medium;
}
#content #projects #rsa-cryptosystem .screenshot {
  border-radius: 5px;
}
#content #projects #data-compressor a {
  text-decoration: none;
}
#content #projects #data-compressor .screenshot {
  border-radius: 5px;
}
#content #projects #overcome li {
  margin: 1em;
}
#content #projects #overcome li:before {
  display: none;
}
#content #projects #overcome figure .screenshot {
  border-radius: 8px;
}
#content #projects #redCliffs li {
  margin: 1em;
}
#content #projects #redCliffs li:before {
  display: none;
}
#content #projects #redCliffs figure .screenshot {
  border-radius: 8px;
}

footer {
  max-width: var(--content-width);
  margin: auto;
  padding: 0 5%;
  text-align: center;
  margin-bottom: 1em;
}
footer .footer-button {
  text-decoration: none;
  color: #424449;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  font-weight: 700;
}
footer .footer-button:hover {
  color: white;
  background-color: #424449;
  transition: 300ms ease-in-out;
}
footer #icons {
  max-width: var(--content-width);
  margin: auto;
  padding: 0 5%;
  margin: 0.75em;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer #icons a {
  margin: 20px;
}
footer #icons svg {
  width: 40px;
}
footer #cp {
  align-content: center;
  margin: 10px;
  font-size: 16px;
}/*# sourceMappingURL=styles.css.map */