:root {
    --content-width: 750px;
}

@mixin content {
    max-width: var(--content-width);
    margin: auto;
    padding: 0 5%;

    @media (max-width: 768px) {
        //  padding: 0 m;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #202228;
    /* background: rgb(32,34,40);
    background: linear-gradient(90deg, rgba(32,34,40,1) 0%, rgba(91,94,142,1) 50%, rgba(32,34,40,1) 100%); */
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 1.3rem;
    line-height: 1.4;
    margin: 0;

    @media (max-width: 768px) {
        font-size: 1.1rem;
    }
}

h1,
h2 {
    border-bottom: 3px solid white;
}


h1 {
    font-size: 1.5em;
    line-height: 1.1;
    padding-bottom: 0.2em;
}
h2 {
    font-size: 2em;
}

a {
    color: white;
    &:hover {
        color: #77fff8c9;
        path {
            fill: #77fff8c9;
        }
        transform: scale(1.10);
        transition: transform 200ms ease-in-out;
    }
}

.external-link {
    text-decoration: none;
    svg {
        margin-bottom: 9px;
    }
    &:hover {
        path {
            stroke: #77fff8c9;
            fill: none;
        }
    }
}

.caption {
    background-color: #424449;
    border-radius: 10px;
    padding: 0.5em 1em 0.5em 1em;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}

header {
    background-image: url("../img/Sunset.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/Sunset.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;

    /* a {
        &:hover {
            color: #ffcb94c9;
            path {
                fill: #ffcb94c9;
            }
        }
    } */
    
    nav {
        @include content;
        padding-top: 1em !important;
        display: flex;
        justify-content: space-between;

        a {
            text-decoration: none;
        }
    }

    #header-text {
        @include content;
        position: absolute;
        top: 24vh;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 2.5em;
        flex-grow: 1;

        h1 {
            margin: 0;
        }
        p {
            font-size: 0.5em;
        }
    }

    #icons {
        @include content;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        a {
            margin: 20px;
        }

        svg {
            width: 50px;
        }
    }

    #pic-creds {
        position: absolute;
        font-size: 1em;
        bottom: 150px;
        text-align: center;
        left: 0;
        right: 0;
        margin: auto;
    }

    #down-arrow {
        position: absolute;
        bottom: 80px;
        left: 0;
        right: 0;
        margin: auto;
        width: 40px;

        svg {
            width: 40px;
            height: auto;
        }
    }
}

#content {
    @include content;

    section {
        margin: 1em 0;
        padding: 10px;
    }

    .flex-row {
        display: flex;
    }

    #about {
        #about-content {
            align-items: flex-start;

            @media (max-width: 500px) {
                flex-direction: column;
            }
        }

        figure {
            margin-left: 0;
            flex: 0 0 30%;
            img {
                border-radius: 40px;
            }
        }
    }

    #skills {
        .flex-row > div {
            flex: 1 0 50%;
        }
        .language-icon {
            width: 50px;
            height: auto;
        }

        ul {
            padding-left: 1em;
        }

        li {
            margin: 10px;
            &:before {
                content: "";
                background-repeat: no-repeat;
                width: 40px;
                height: 40px;
                position: relative;
                display: inline-block;
                background-size: contain;
                margin-top: 5px;
                margin-bottom: -13px;
                margin-right: 6px;
            }

            &.python:before {
                background-image: url("../img/Python.svg");
            }
            &.c:before {
                background-image: url("../img/C.svg");
            }
            &.cpp:before {
                background-image: url("../img/C++.svg");
            }
            &.html:before {
                background-image: url("../img/HTML.svg");
            }
            &.css:before {
                background-image: url("../img/CSS.svg");
            }
            &.js:before {
                background-image: url("../img/JavaScript.svg");
            }
        }

        .tools li {
            &:before {
                display: none;
            }
        }
    }

    #experience {
        h3 {
            font-size: 1.4em;
            img {
                width: 40px;
                margin-bottom: 10px;
                margin-left: 5px;
                margin-right: 5px;
            }
        }
    }

    #education {
        #UCSC {
            display: flex;
            p {
                flex-grow: 1;
            }
            img {
                margin-left: 50px;
                width: 175px;
            }
        }

        #Lowell {
            display: flex;
            p {
                flex-grow: 1;
            }
            img {
                margin-left: 50px;
                width: 170px;
                border-radius: 90px;
            }
        }
    }

    #projects {
        h3 {
            margin-top: 1.5em;
            margin-bottom: 0;
            /* background-color: #424449;
            border-radius: 8px;
            border-style: solid;
            border-color: white;
            padding: 0.5em 1em 0.5em 1em;
            width: fit-content; */
            font-size: 1.4em;

            & + p {
                margin-top: 0.3em;
            }
        }

        #rsa-cryptosystem {
            .screenshot {
                margin-top: 2em;
                border-radius: 5px;
            }
        }

        #overcome {
            .screenshot {
                margin-top: 1em;
                border-radius: 40px;
            }
        }
    }
}

footer {
    @include content;
    text-align: center;
    margin-bottom: 1em;

    #resume {
        text-decoration: none;
        background-color: transparent;
        border: 3px solid white;
        padding: 10px;
        border-radius: 8px;
        &:hover {
            color: white;
            background-color: #43c9c2c9;
        }
    }

    #icons {
        @include content;
        margin: 0.75em;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        a {
            margin: 20px;
        }

        svg {
            width: 40px;
        }
    }

    #cp {
        align-content: center;
        font-size: 16px;
    }

}
