:root {
  --content-width: 750px;
  --highlight-color: #b6e79f;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #031a08;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
  margin: 0;
}
@media (max-width: 768px) {
  body {
    font-size: 1.1rem;
  }
}

h1,
h2 {
  border-bottom: 3px solid white;
}

h1 {
  font-size: 1.5em;
  line-height: 1.1;
  padding-bottom: 0.2em;
}

h2 {
  font-size: 2em;
}

a {
  color: white;
}
a:hover {
  color: var(--highlight-color);
  transition: 300ms ease-in-out;
}
a:hover path {
  fill: var(--highlight-color);
}

li {
  line-height: 1.5;
  margin-bottom: 0.75rem;
}

.horizontal-line {
  border-top: 4px solid whitesmoke;
  margin-right: 120px;
}

.external-link svg {
  margin-bottom: 9px;
}
.external-link:hover {
  transition: 300ms ease-in-out;
}
.external-link:hover path {
  stroke: var(--highlight-color);
  fill: none;
}

.title-link {
  text-decoration: none;
}
.title-link svg {
  margin-bottom: 5px;
}
.title-link:hover path {
  stroke: var(--highlight-color);
  fill: none;
}

img {
  width: 100%;
  height: auto;
}

header {
  background-image: url("../img/MinimalistDesk.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("../img/MinimalistDesk.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
}
header #navbar-container {
  display: flex;
  justify-content: center;
}
header #navbar-container #navbar {
  max-width: var(--content-width);
  margin: auto;
  padding: 0 5%;
  font-family: "Raleway", sans-serif;
  z-index: 1;
  padding: 15px !important;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  background-color: #223325;
  border-radius: 0px 0px 16px 16px;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  filter: drop-shadow(0px 2px 3px #000000);
}
header #navbar-container #navbar a {
  text-decoration: none;
}
header #navbar-container #navbar a.active {
  text-decoration: underline;
}
header #header-text {
  max-width: var(--content-width);
  margin: auto;
  padding: 0 5%;
  position: absolute;
  top: 32vh;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 2.5em;
  flex-grow: 1;
}
header #header-text h1 {
  margin: 0;
}
header #header-text span {
  font-size: 0.75em;
}
header #icons {
  max-width: var(--content-width);
  margin: auto;
  padding: 0 5%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
header #icons a {
  margin: 20px;
}
header #icons svg {
  width: 50px;
}
header #down-arrow {
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  margin: auto;
  width: 40px;
}
header #down-arrow svg {
  width: 40px;
  height: auto;
}

#content {
  max-width: var(--content-width);
  margin: auto;
  padding: 0 5%;
}
#content section {
  margin: 1em 0;
  padding: 10px;
}
#content .flex-row {
  display: flex;
}
#content #about #about-content {
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px) {
  #content #about #about-content {
    flex-direction: column;
  }
}
#content #about p {
  font-size: 0.9em;
}
#content #about figure {
  margin-left: 0;
  flex: 0 0 30%;
}
#content #about figure img {
  border-radius: 40px;
}
#content #skills .flex-row > div {
  flex: 1 0 50%;
}
#content #skills ul {
  padding-left: 1em;
}
#content #skills li {
  padding: 10px 10px 10px 50px;
  position: relative;
}
#content #skills li:before {
  content: "";
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  top: 2px;
  left: 0;
  bottom: 0;
  right: 0;
  background-position: center;
  background-size: contain;
  position: absolute;
  display: inline-block;
  transform: translateY(2px);
}
#content #skills li.python:before {
  background-image: url("../img/skillsIcons/python.svg");
}
#content #skills li.c:before {
  background-image: url("../img/skillsIcons/c.svg");
}
#content #skills li.cpp:before {
  background-image: url("../img/skillsIcons/cpp.svg");
}
#content #skills li.html:before {
  background-image: url("../img/skillsIcons/html5.svg");
}
#content #skills li.css:before {
  background-image: url("../img/skillsIcons/css3.svg");
}
#content #skills li.sass:before {
  background-image: url("../img/skillsIcons/sass.svg");
}
#content #skills li.js:before {
  background-image: url("../img/skillsIcons/javascript.svg");
  border-radius: 3px;
}
#content #skills li.ts:before {
  background-image: url("../img/skillsIcons/typescript.svg");
  border-radius: 3px;
}
#content #skills li.php:before {
  background-image: url("../img/skillsIcons/php.svg");
  border-radius: 3px;
}
#content #skills li.wordpress:before {
  background-image: url("../img/skillsIcons/wordpress.svg");
  border-radius: 3px;
}
#content #skills li.react:before {
  background-image: url("../img/skillsIcons/react.svg");
}
#content #skills li.angular:before {
  background-image: url("../img/skillsIcons/angular.svg");
}
#content #skills li.firebase:before {
  background-image: url("../img/skillsIcons/firebase.svg");
}
#content #skills li.git:before {
  background-image: url("../img/skillsIcons/git.svg");
}
#content #skills li.vscode:before {
  background-image: url("../img/skillsIcons/vscode.svg");
}
#content #skills li.figma:before {
  background-image: url("../img/skillsIcons/figma.svg");
}
#content #skills li.mysql:before {
  background-image: url("../img/skillsIcons/mysql.svg");
}
#content #skills .language-icon {
  width: 50px;
  height: auto;
}
#content #experience h3 {
  font-size: 1.4em;
  width: -moz-fit-content;
  width: fit-content;
}
#content #experience h3 img {
  width: 40px;
  margin-bottom: 0.5rem;
}
#content #experience .tools-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
#content #experience .tools-list div {
  border-radius: 10px;
  background-color: #5e8567;
  padding: 16px;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
}
#content #education #UCSC {
  display: flex;
}
#content #education #UCSC p {
  flex-grow: 1;
}
#content #education #UCSC img {
  margin-left: 50px;
  width: 175px;
}
#content #education #Lowell {
  display: flex;
}
#content #education #Lowell p {
  flex-grow: 1;
}
#content #education #Lowell img {
  margin-left: 50px;
  width: 170px;
  border-radius: 90px;
}
#content #projects h3 {
  margin: 0;
  font-size: 1.4em;
  background-color: #223325;
  border-radius: 16px;
  padding: 1rem;
  width: -moz-fit-content;
  width: fit-content;
}
#content #projects .proj-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
#content #projects .project-card {
  font-family: "Roboto Condensed", sans-serif;
  border-radius: 16px;
  padding: 2em;
  border: solid white;
}
#content #projects .project-card a {
  text-decoration: none;
}
#content #projects .learn-more {
  border-color: white;
  background-color: transparent;
  color: white;
  border-style: solid;
  padding: 10px;
  border-radius: 8px;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
  cursor: pointer;
}
#content #projects .learn-more:hover {
  color: var(--highlight-color);
  border-color: var(--highlight-color);
  transition: 300ms ease-in-out;
}
#content #projects .close-container {
  display: flex;
  justify-content: center;
}
#content #projects .close-container .close {
  border-radius: 100px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
#content #projects .close-container .close div svg {
  width: 40px;
  height: 40px;
  fill: white;
}
#content #projects .project-card.active {
  background-color: lightgray;
}
#content #projects #rsaInfo {
  display: none;
}
#content #projects #huffmanInfo {
  display: none;
}
#content #projects #httpServerInfo {
  display: none;
}
#content #projects #mazeInfo {
  display: none;
}
#content #projects #amusiaInfo {
  display: none;
}
#content #projects #overcomeInfo {
  display: none;
}
#content #projects #redCliffsInfo {
  display: none;
}
#content #projects p {
  margin-top: 1em;
}
#content #projects .github-button {
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: white;
  color: purple;
  width: 150px;
  height: 35px;
  border-radius: 8px;
  padding: 8px;
}
#content #projects .github-button div {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 8px;
       column-gap: 8px;
  align-items: center;
}
#content #projects .github-button svg {
  width: 30px;
  height: auto;
}
#content #projects .github-button path {
  fill: purple;
}
#content #projects .github-button:hover {
  transform: none;
  background-color: purple;
  transition: 100ms ease-in-out;
  color: white;
}
#content #projects .github-button:hover path {
  fill: white;
}
#content #projects .itch-button {
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: white;
  color: #223325;
  width: 150px;
  height: 35px;
  border-radius: 8px;
  padding: 8px;
}
#content #projects .itch-button div {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 8px;
       column-gap: 8px;
  align-items: center;
}
#content #projects .itch-button svg {
  width: 30px;
  height: auto;
}
#content #projects .itch-button path {
  fill: #202228;
}
#content #projects .itch-button:hover {
  transform: none;
  background-color: #5e8567;
  color: white;
  transition: 300ms ease-in-out;
}
#content #projects .itch-button:hover path {
  fill: white;
}
#content #projects figure {
  border-radius: 10px;
  margin-left: 0;
  margin-right: 0;
}
#content #projects figure img {
  margin-top: 1em;
}
#content #projects figure .caption {
  background-color: #5e8567;
  border-radius: 10px;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  text-align: center;
  font-size: medium;
}
#content #projects #rsa-cryptosystem .screenshot {
  border-radius: 5px;
}
#content #projects #data-compressor a {
  text-decoration: none;
}
#content #projects #data-compressor .screenshot {
  border-radius: 5px;
}
#content #projects #amusia figure .screenshot {
  border-radius: 8px;
}
#content #projects #overcome figure .screenshot {
  border-radius: 8px;
}
#content #projects #redCliffs figure .screenshot {
  border-radius: 8px;
}

footer {
  max-width: var(--content-width);
  margin: auto;
  padding: 0 5%;
  text-align: center;
  margin-bottom: 1em;
}
footer .resume-button {
  text-decoration: none;
  color: whitesmoke;
  background-color: transparent;
  padding: 10px;
  border: 3px solid whitesmoke;
  border-radius: 10px;
  font-weight: 700;
}
footer .resume-button:hover {
  color: var(--highlight-color);
  border-color: var(--highlight-color);
  transition: 300ms ease-in-out;
}
footer #icons {
  max-width: var(--content-width);
  margin: auto;
  padding: 0 5%;
  margin: 0.75em;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer #icons a {
  margin: 1em;
}
footer #icons svg {
  width: 40px;
}
footer #cp {
  align-content: center;
  margin: 1em;
  font-size: 16px;
}/*# sourceMappingURL=styles.css.map */