.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 2;
}

.menu .bar,
.close .bar {
  width: 25px;
  height: 3px;
  background-color: var(--white);
  margin: 4px 0;
  transition: 0.4s;
}

.close .bar:first-child {
  transform: rotate(45deg);
}

.close .bar:last-child {
  transform: rotate(-45deg) translate(5px, -5px);
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }
}
