.about-me {
  line-height: 1.5rem;
  display: flex;
  flex-direction: column;
}

.container {
  flex-direction: row;
}

.portrait {
  width: 250px;
  height: fit-content;
  border-radius: 15px;
  border: 2px solid #fafafa;
}

@media (max-width: 500px) {
  .container {
    flex-direction: column;
  }
}
